@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: 100;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/seguisb.ttf");
    font-weight: 500;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeuib.ttf");
    font-weight: 800;
}

html, body {
    -webkit-user-select: none;
    font-family: "segoeu";
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* טוען */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #79BEE0;
    font-size: 2em;
    font-weight: 800;
}

.loader > img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

.wave {
    width: 100%;
    height: 30%;
    overflow: hidden;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* צבעים */
.blue {
    filter: hue-rotate(140deg);
}

.lightGreen {
    filter: hue-rotate(30deg);
}

.teal {
    filter: hue-rotate(110deg);
}

.purple {
    filter: hue-rotate(205deg);
}

.yellow {
    filter: hue-rotate(0deg);
}

.orange {
    filter: hue-rotate(320deg);
}

.darkGreen {
    filter: hue-rotate(80deg);
}

.pink {
    filter: hue-rotate(280deg);
}

.gray {
    filter: grayscale(100);
}

.sub-titles {
    font-weight: bold;
    padding-top: 1em;
}

.bold {
    font-weight: 500;
}

/* חלק עליון */
.topButton {
    width: 6vw;
    position: absolute;
    top: 8.25vh;
    left: 10vw;
}

.titleConeiner {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2.5em;
    position: absolute;
    top: 0vh;
    right: 1vw;
    width: 53vw;
    text-align: center;
    height: 15vh;
}

.title {
    width: 53vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1vw;
    font-size: 4vmax;
}

.titleMedShelfs {
    font-size: 3.5vmax;
    right: 7vw;
}

.titelMedId {
    right: 1vw;
    font-size: 0.6em;
}

/* חיפוש */
.searchBoxHolder {
    width: 36vw;
    height: 17vh;
    padding-right: 29vw;
    background-color: #d8b74e;
    border-radius: 10vw;
    position: absolute;
    top: 8vh;
    left: 6vw;
    z-index: 2;
}

.searchBox {
    width: 53vw;
    height: 3.5vh;
    border-radius: 10vw;
    padding-right: 2vw;
    font-size: 2.3vmax;
    position: absolute;
    top: 9.7vh;
    left: 15vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    font-family: "segoeu";
    text-align: center;
    z-index: 2;
    outline: none;
}

.searchBox:focus{
    outline: none;
    top: 10.5vh;
}

.dropDown{
    pointer-events: none;
    width: 73vw;
    height: 63vh;
    position: absolute;
    left: 3vw;
    top: 23vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* אודות */
.aboutButton {
    width: 3vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
}

.aboutPage {
    padding: 1vh 4vw;
    height: 67vh;
    width: 92vw;
    position: absolute;
    font-size: 1.25vmax;
    text-align: center;
    top: 20vh;
    overflow: hidden;
}

.aboutHeadline {
    width: 20vw;
    color: #79BEE0;
    display: block;
    margin: auto;
    font-weight: 800;
    font-size: 2em;
}

.info {
    margin-top: 3vh;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2vh;
    left: 40vw;
    height: 14vh;
}

.logos > img {
    width: 7vw;
}

/* כתורים של תרופות ששולחים ללומדות */
.mainPageButton {
    background-color: white;
    border-radius: 0.8em;
    height: 15vh;
    width: 40vw;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
    font-size: 1.27em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homePageButtonsScroll::-webkit-scrollbar {
    display: none;
}

.medHeadline {
    width: 35vw;
    padding: 2em 0.6em;
    padding-top: 1em;
    position: relative;
    left: 4vw;
    font-size: 2vmax;
}

.mainPagePic {
    height: 18vh;
    position: relative;
    top: -1vh;
    left: 5vw;
}

.picLeft{
    left: 37vw;
}

.homePageButtonsScroll {
    overflow-y: scroll;
    height: 62vh;
    width: 100vw;
    display: flex;
    margin-top: 0.5em;
    margin-right: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
}

.testButton {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

/* תעודת זהות של תרופות */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
    font-size: larger;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    height: 19vh;
    position: absolute;
    left: 5vw;
}

.idNextToPic {
    width: 42vw;
}

/* מדפים של תרופות */
.downButton {
    width: 4vw;
    position: absolute;
    left: 2vw;
}

.shelfs {
    width: 100vw;
    background-color: white;
    height: 12vh;
    margin-top: 1em;
}

.shelf {
    position: relative;
    top: 3.5vh;
}

.shelfHedline {
    position: relative;
    top: 4vh;
    font-weight: 700;
    font-size: 1.75vmax;
    padding-right: 1em;
}

.shelfsdropDown {
    padding: 0 1em;
    font-size: 1.1em;
}

.shelfMedPic {
    height: 7vh;
    padding: 0.5em;
    padding-right: 0.1em;
}

.shelfMedPicContainer {
    width: 35vw;
    background-color: white;
    height: 12vh;
    border-radius: 1em;
    display: flex;
    align-items: center;
    font-size: 1.25vmax;
    margin-bottom: 1em;
    direction: rtl;
}

.sub-titles {
    font-weight: 400;
}

.title {
    font-weight: 700;
}

.description {
    width: 85vw;
    align-self: start;
    padding: 2vh 2vw;
}

.drop-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shelfPicSection {
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.medShelf {
    height: 62vh;
    overflow-y: auto;
    margin-top: 0.5em;
}

.medShelf::-webkit-scrollbar {
    display: none;
}

.medTypeSymbol {
    width: 8.5vw;
    position: fixed;
    top: 1vh;
    left: 80vw;
}

.shelfsButtons {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    width: 12vw;
}

.homeButton {
    width: 6vw;
    position: absolute;
    right: -15vw;
    bottom: 1vh;
}
